:root {
  --main-title-color: #4a3b32;
  --main-p-color: #888;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f4f1ea;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%; /* Use 100% instead of 100vw to avoid scrollbar width issues */
  overflow-x: hidden; /* Hides the horizontal scrollbar */
  margin: 0; /* Removes default browser margins */
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.page-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.main-header {
  background: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  position: relative;
  /* background-color: #c0c0c0a1; */
  height: 110px;
  z-index: 100;
}
a {
  text-decoration: none;
  color: var(--main-title-color);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 10%;
}
button {
  display: inline-block;
  padding: 0.7em 1em;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  border: none;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(111, 78, 55, 0.2);
}
button:hover {
  background-color: #1a252f;
}
@media screen and (max-width: 768px) {
}
h1 {
  font-size: clamp(1.5rem, 13vw, 3rem);
  text-align: center;
}
h2 {
  font-size: clamp(0.9rem, 7vw, 1.5rem);
}
h1,
h2 {
  color: var(--main-title-color);
}

p {
  color: var(--main-p-color);
  font-weight: 600;
}
.not-found {
  margin-top: 200px;
}
/* @media screen and (max-width: 400px) {
} */
